h1, h3, h5 p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}


