/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    nav.nav-content {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    nav.nav-content {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    nav.nav-content {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    nav.nav-content {
        display: flex;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    nav.nav-content {
        display: flex;
    }
}