
@keyframes works-text_hover {
    0% {padding: 30px 0 30px;}
    50% {padding: 15px 0 15px;
    }
    100% {padding: 0;
    }
}

@keyframes works-text_no-hover {
    0% {padding: 0;}
    50% {padding: 15px 0 15px;
    }
    100% {padding: 30px 0 30px;;
    }
}

.row {
    display: inline-block;
}

.header__container {
    width: 100%;
    height: 700px;
    background-image: url(../images/banner.jpg);
    padding-top: 2%;
    margin-bottom: 100px;
}

.row.header__nav {
    display: block;
}

.header__nav {
    height: 30px;
    padding: 0 0 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__nav-menu li a:active {
    transition: all linear 5s;
}

nav.nav-content {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
}

ul.header__nav-menu {
    display: inline-flex;
    list-style-type: none;
}

ul.header__nav-menu li{

    padding-right: 40px;
    line-height: 20px;
}
ul.header__nav-menu li a {
    color: rgba(255, 255, 255, 0.8);
}

ul.header__nav-menu li a:hover {
    color: rgb(255, 255, 255);
}

.logo {
    height: 30px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

.container .title__content {
    display: flex;
    height: 610px;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    align-items: center;
}

.container .title__content h1 {
    line-height: 70px;
}

.container .title__content p {
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.95);
    margin: 130px auto 0 auto;
    background-color: #e84545;
    transition: all ease 0.5s;
}

.button:hover {
    background-color: #c73128;
}

.dignity-box {
    text-align: center;
    margin-bottom: 50px;
}

 .dignity-box__icon {
     font-size: 60px;
     font-style: oblique;
     color: #e84545;
     padding: 0 0 30px;
 }

.dignity-box > p {
    color: #8e9298;
    line-height: 1.5;
    padding: 10px 10px 0;
}

.works-container {
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
}

.row.works-container_row {
   display: block;
}

.works-container_image {
    min-height: 350px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    border:  1px solid white;
}

.works-container_image img {
    min-width: 100%;
}

.works-container_row [class*=col-] {
     margin: 0;
 }

.works-container__hover-container {
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;;
    padding: 0;
    animation: works-text_no-hover linear 0.3s;
    -moz-animation: works-text_no-hover linear 0.3s;
}

.works-container__text-container {
    position: relative;
    /*top: 50%;*/
    /*width: auto;*/
    text-align: center;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: inherit;
}

.works-container__text-container h5 {
    text-transform: uppercase;
    margin: 0;
    padding: inherit;
}

.works-container__text-container p {
    font-size: 16px;
    margin: 0;
    padding: inherit;
}

.works-container__hover-container:hover {
    opacity: 1;
    animation: works-text_hover linear 0.3s;
}

.main-info {
    color: white;
    text-align: center;
    background-color: #3a3e64;
}

.main-info .container .row {
    padding: 2% 0 8%;
}

.main-info .container .row div p {
      color: rgba(255, 255, 255, 0.6);
      margin: 0;
      padding: 0;
}

.main-info .container .row div h3 {
    padding: 10% 0 5%;
}

.main-info_social-icons i {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 2;
    border: 1px solid white;
    /*padding: 10px;*/
}

.main-info_social-icons i:last-child {
    text-transform: lowercase;
}

.footer-info {
     width: 100%;
    text-align: center;
     color: rgba(255, 255, 255, 0.6);
     background-color: #2f304c;
}

.footer-info .container .row {
     padding: 2% 0 2%;
 }

.footer-info .container .row div p{
    padding: 0;
    margin: 1% 0 0 ;
}

.footer-info .container .row div p i{
    font-size: 80%;
     color: #e84545;
 }

.footer-info .container .row div p span{
      color: white;
  }